<h1>Edit <%= @plant.name %></h1>
<form action="/plants/<%= @plant.id %>" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Type: </label><input type="text" name="plant[name]" value="<%= @plant.name %>"><br>
    <label>Nickname: </label><input type="text" name="plant[nickname]" value="<%= @plant.nickname %>"><br>
    <label>Water Needs: </label><input type="text" name="plant[water]" value="<%= @plant.water %>"><br>
    <label>Lighting Needs: </label><input type="text" name="plant[sunlight]" value="<%= @plant.sunlight %>"><br>
    <label>Fertilizer Needs: </label><input type="text" name="plant[fertilizer]" value="<%= @plant.fertilizer %>"><br>
    <label>Notes: </label><input type="text" name="plant[notes]" value="<%= @plant.notes %>"><br>
    <input type="submit" value="Edit Plant">
    
</form>
<form method="POST" action="/plants/<%= @plant.id %>">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="Delete Plant">
</form>