<body>
    <%if current_user == @plant.user %>
        <form action="/plants/<%= @plant.id %>" method="POST">
            <figure class="text-center"><h1>Edit <%= @plant.nickname %> the <%= @plant.name %></h1></figure>
            <input type="hidden" value="PATCH" name="_method">
                <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Type: </label>
                    <div class="col-sm">
                        <input type="text" class="form-control" name="plant[name]" value="<%= @plant.name %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="nickname" class="col-sm-2 col-form-label">Nickname: </label>
                    <div class="col-sm">
                        <input type="text" class="form-control" name="plant[nickname]" value="<%= @plant.nickname %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="sunlight" class="col-sm-2 col-form-label">Lighting: </label>
                    <div class="col-sm">
                        <input type="text" class="form-control" name="plant[sunlight]" value="<%= @plant.sunlight %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="watering" class="col-sm-2 col-form-label">Watering: </label>
                    <div class="col-sm">
                        <input type="text" class="form-control" name="plant[water]" value="<%= @plant.water %>">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="fertilizer" class="col-sm-2 col-form-label">Fertilizer: </label>
                    <div class="col-sm">
                        <input type="text" class="form-control" name="plant[fertilizer]"  value="<%= @plant.fertilizer %>">
                    </div>
                </div>

                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Pet Safe?</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="plant[pet_safe]" id="dog_safe" value="Dog Safe">
                            <label class="form-check-label" for="dog_safe"> Dog </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="plant[pet_safe]" id="cat_safe" value="Cat Safe">
                            <label class="form-check-label" for="cat_safe"> Cat </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="plant[pet_safe]" id="both_safe" value="Cat and Dog Safe">
                            <label class="form-check-label" for="both_safe"> Cat and Dog Safe </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="plant[pet_safe]" id="not_safe" value="Not Pet Safe">
                            <label class="form-check-label" for="not_safe"> Neither </label>
                        </div>
                    </div>
                </fieldset>

                <div class="row mb-3">
                    <label for="notes" class="form-label">Notes:</label>
                    <textarea type="text" class="form-control" name="plant[notes]" rows="3"><%= @plant.notes %></textarea>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success me-md-2"> Edit Plant </button>
                </div>

            </form>
    <% else %>
        <div class="alert alert-danger" role="alert">
            You can not edit a plant that you don't own <a href="/plants" class="alert-link">Click here to go back to your plants</a>. Give it a click if you like.
        </div>
    <% end %>
</body>