<% if flash.has?(:error) %>
<%= flash[:error]%>

<h1><%= @user.name %>'s Plants </h1>

<% if @user.plants.empty? %>
    <p> You don't have any plants! </p>
<%end%>

<% @plants.each do |plant| %>
<li> <a href="/plants/<%= plant.id%>"><%= plant.name %> (<%= plant.nickname %>)</a>
<% end %><br>

<a href="/plants/new">Add a new plant</a>
<form action="/logout" method="POST">
<input type="hidden" value="DELETE" name="_method">
<button type="submit" class="btn btn-secondary float-right">Logout</button>
</form>