<figure class="text-center"><h1><%= @plant.name %> aka: <%= @plant.nickname %></h1></figure>
<dl class="row">
    <dt class="col-sm-3">Watering:</dt>
        <dd class="col-sm-9"><%= @plant.water %></dd>
    <dt class="col-sm-3">Lighting:</dt> 
        <dd class="col-sm-9"><%= @plant.sunlight %></dd>
    <dt class="col-sm-3">Fertilizer:</dt> 
        <dd class="col-sm-9"><%= @plant.fertilizer %></dd>
    <dt class="col-sm-3">Pet Safe:</dt> 
        <dd class="col-sm-9"><%= @plant.pet_safe %></dd>
    <dt class="col-sm-3">Notes:</dt> 
        <dd class="col-sm-9"><%= @plant.notes %></dd>
</dl>
<a class="button" href="/plants/<%= @plant.id %>/edit">Edit plant</a>
<a class="button" href="/plants">All plants</a>

