<figure class="text-center"><h1><%= @plant.name %> aka: <%= @plant.nickname %></h1></figure>

<p>Watering Needs: <%= @plant.water %></p>
<p>Lighting Needs: <%= @plant.sunlight %></p>
<p>Fertilizer Needs: <%= @plant.fertilizer %></p>
<p>Pet Safe: <%= @plant.pet_safe %></p>
<p>Notes: <%= @plant.notes %></p>

<a class="button" href="/plants/<%= @plant.id %>/edit">Edit plant</a>
<a class="button" href="/plants">All plants</a>

